/* Loading bar styles */
#loading-bar-container {
    width: 100%;
    background: #e0e0e0;
    padding: 3px;
    display: none; /* Initially hidden */
}

#loading-bar {
    width: 0;
    height: 20px;
    background: #3498db;
    position: relative;
}

/* Animation */
@keyframes loadingBarAnimation {
    from { width: 0; }
    to { width: 100%; }
}
