body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5%;
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 5%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.statistics-backgroud {
    padding: 50px;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.page-name {
    margin-top: 100px;
    font-size: xxx-large;
    text-align: center;
}

.statistics-card {
    font-size: large;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.statistic-one{
    min-height: 600px;
    background-color: #D2691E;
}
.statistic-one-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.statistic-one-title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: xx-large;
}
.statistic-one-column-one{
    padding-left: 10%;
    width: 75%;
    height: auto;
}
.statistic-one-column-two{
    width:25%
}


.statistic-two{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color: whitesmoke;
    margin: 0;
}
.statistic2 .line-chart,
.statistic2 .donut-chart {
    flex: 1;
    height: 100%;
    padding: 20px;
}

.statistic2 .line-chart {
    background-color: #f7f7f7;
}

.statistic2 .donut-chart {
    background-color: #f3f3f3;
}
.line-chart svg, .donut-chart svg {
    width: 100%;
    height: 100%;
}

.statistic-three{
    min-height: 600px;
    background-color: blue;
}