body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5%;
}

.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 5%;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.statistics-backgroud {
    padding: 50px;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.page-name {
    margin-top: 100px;
    font-size: xxx-large;
    text-align: center;
}

.statistics-card {
    font-size: large;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.statistic1{
    min-height: 600px;
    background-color: #D2691E;
}

.statistic2{
    min-height: 600px;
    background-color: whitesmoke;
}

.statistic3{
    min-height: 600px;
    background-color: blue;
}